.company-img {
  width: 320px;
  height: 176px;
  background-image: url('../../../img/company.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 16px;

  @media (min-width: 768px) {
    width: 360px;
    height: 208px;
    background-image: url('../../../img/company--768.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    margin-top: 0;
  }

  @media (min-width: 1440px) {
    width: 532px;
    height: 307px;
    background-image: url('../../../img/company--1120.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
}