@use '../../variables.scss';

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 !important;
  margin-right: 12px !important;
  background-color: variables.$bullet-color;
  opacity: .9;

  &:last-child {
    margin-right: 0 !important;
  }
}