@use '../../variables.scss';

.commercial-offer {
  margin-left: 16px;
  margin-right: 16px;

  &:hover {
    .commercial-offer__link {
      text-decoration: underline;
      color: variables.$current-color;
    }

    .commercial-offer__icon {
      transform: translateX(3px) scale(1.1);
    }
  }

  &__link {
    margin-right: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: variables.$default-color;
    transition: color .3s ease-out;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 12px;
    background-image: url('../../../img/line-offer-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .3s ease-out;
  }
}