.cards-list {
  &__wrapper {
    margin: 24px;
    margin-bottom: 0;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 25%;
    margin-bottom: 16px;

    @media (min-width: 1440px) {
      flex-basis: 20%;
    }
  }

  &--display--1440 {
    @media (min-width: 1440px) {
      display: flex !important;
    }
  }
}