@use '../../variables.scss';

.page-footer {
  margin-top: 60px;
  
  &__wrapper {
    padding: 16px;
    padding-top: 18px;
    text-align: center;

    @media (min-width: 768px) {
      padding: 24px;
      padding-top: 36px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__copyright {
    margin-bottom: 16px;

    @media (min-width: 768px) {
      text-align: left;
      margin-right: 16px;
    }
  }

  &__privacy {
    margin-bottom: 16px;

    @media (min-width: 768px) {
      margin-right: 16px;
    }
  }

  &__disclaimer {
    @media (min-width: 768px) {
      text-align: right;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: variables.$current-color;
    opacity: 0.72;
  }

  &__link {
    color: variables.$current-color;
    transition: color .3s ease-out;

    &:hover {
      text-decoration: underline;
      color: variables.$default-color;
    }
  }
}