@use '../../variables.scss';

.page-header {
  background-color: variables.$header-color;

  &__top-wrapper {
    display: flex;
    align-items: center;
    padding: 24px 16px;

    @media (min-width: 768px) {
      justify-content: space-between;
    }
  }

  &__feedback-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: variables.$header-color;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  }

  &__feedback {
    @media (min-height: 620px) {
      height: 100vh;
    }

    @media (min-width: 768px) {
      width: 440px;
      position: relative;
    }

    &--close {
      position: absolute;
      top: 0;
      left: -64px;
    }
  }

  &__order-call {
    @media (min-height: 353px) {
      height: 100vh;
    }
  }

  &__left-wrapper {
    display: flex;
    align-items: center;
  }

  &__right-wrapper {
    display: flex;
    align-items: center;
  }

  &__button {
    border: none;
    background-color: variables.$button-bg-color;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    width: 96px;
    height: 50px;
    background-image: url('../../../img/icon.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__divider {
    background-color: variables.$divider-color;
    border-radius: 1px;
    width: 2px;
    height: 32px;
  }

  &__sidebar {
    @media (min-height: 840px) {
      height: calc(100vh - 98px);
    }
  }

  &--gap {
    margin-right: 16px;
  }
}