@use './variables.scss';

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'),
       local('TTLakes-Medium'),
       url('../fonts/TTLakes-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Regular'),
       local('TTLakes-Regular'),
       url('../fonts/TTLakes-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Bold'),
       local('TTLakes-Bold'),
       url('../fonts/TTLakes-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes', sans-serif;
  font-weight: normal;
  background-color: variables.$page-color;
}

.page-main {
  @media (min-width: 1440px) {
    margin-left: 320px;
  }
}

.page-footer {
  @media (min-width: 1440px) {
    margin-left: 320px;
  }
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: variables.$default-color;
}

input {
  display: block;
  border: none;
  padding: 0;
  font-family: inherit;
}

textarea {
  display: block;
  border: none;
  padding: 0;
  font-family: inherit;
}