$page-color: #f8f8f8;
$header-color: #fff;
$default-color: #1b1c21;
$button-bg-color: #ff3e79;
$divider-color: #eaeaea;
$line-color: #d9fff5;
$current-color: #7e7e82;
$hover-color: #b8ffec;
$placeholder-color: #b5b6bc;